<a href="https://colab.research.google.com/github/Kruthi-trip/AI-ML-Course/blob/main/Day3_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

In [1]:
#case sensitive
name = 'Kruthi Tripuraneni'
Name2 = 'Srikruthi Tripuraneni'
print(name)
print(Name2)
print(Name2)
print(name)

Kruthi Tripuraneni
Srikruthi Tripuraneni
Srikruthi Tripuraneni
Kruthi Tripuraneni

In [2]:
statement1 = 'I’m happy to share that I’ve obtained a new certification: \
Exploratory Data Analysis for Machine Learning from IBM!'
print(statement1)

I’m happy to share that I’ve obtained a new certification: Exploratory Data Analysis for Machine Learning from IBM!

In [3]:
# Indentation in python is used to define the structure and heirarchy of the code

age = 32
if age>30:
  print(age)

32

In [4]:
x=5; y = 10; z = x+y
print(z)

15

In [5]:
var1 = 10 # integer
var2 = 'Kruthi Tripuraneni' # string
var3 = 10.547 # float
print(var1)
print(type(var1))
print(var2)
print(type(var2))
print(var3)
print(type(var3))

10
<class 'int'>
Kruthi Tripuraneni
<class 'str'>
10.547
<class 'float'>

In [6]:
b = 5
a = b
print(a)

5

#Variables

In [7]:
age = 27
height = 5.3
name = "Kruthi"
is_student = True
print("Age:",age)
print("Height:",height)
print("Name:",name)

Age: 27
Height: 5.3
Name: Kruthi

In [8]:
fullName = "Kruthi Tripuraneni"
full_name = "Kruthi Tripuraneni"
FULLNAME = "Kruthi Tripuraneni"
FullName = "Kruthi Tripuraneni"

In [9]:
num1 = float(input('Enter a number'))
num2 = float(input('Enter a number'))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2
exponential = num1 ** num2

print("Sum:", sum)
print("Difference:", diff)
print("Product:", product)
print("Quotient:", quotient)
print("Exponential:", exponential )
print(num1==num2)

Enter a number67
Enter a number34
Sum: 101.0
Difference: 33.0
Product: 2278.0
Quotient: 1.9705882352941178
Exponential: 1.2205154794691528e+62
False

# Datatypes

1. Lists
2. Tuples
3. Dictionaries
4. Sets

## List

- It is a collection of **mutable**, **ordered** items.
- **Mutable** items **can be edited** once they are created.
eg. **lists, dictionaries, sets**

- Immutable items are the ones that cannot be changed once created. eg. floats, strings, tuples, boolean

In [10]:
lst = []
print(type(lst))

<class 'list'>

In [11]:
#mixed list
names = ['Sravan', 'Usha', 'Kruthi', 'Abhi', 61, 69, 98, 00, True]
# left to right ----> [0,1,2,3,4,5,6,7,8]
# right to left ----> [-9,-8,-7,-6,-5,-4,-3,-2,-1]
print(names)

['Sravan', 'Usha', 'Kruthi', 'Abhi', 61, 69, 98, 0, True]

* Indexing

In [12]:
# Indexing starts from 0 position
print(names[-6])
print(names[3])

Abhi
Abhi

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "guava", "apple", "banana", "cherry", "kiwi", "guava", "apple", "banana", "cherry", "kiwi", "guava"]
print(fruits[2])
print(fruits[-3])
print(fruits[0:4])

cherry
cherry
['apple', 'banana', 'cherry', 'kiwi']

In [14]:
# Syntax - list[start : stop(excluded) : step]
print(fruits[1:])
print(fruits[1 : 7 : 4])

['banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava']
['banana', 'apple']

In [15]:
fruits

['apple',
 'banana',
 'cherry',
 'kiwi',
 'guava',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'guava',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'guava']

In [16]:
fruits[1] = 'papaya'
print(fruits)

['apple', 'papaya', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava']

# List Methods

In [17]:
fruit = fruits = ["apple", "banana", "cherry", "kiwi", "guava", "apple", "banana", "cherry", "kiwi", "guava", "apple", "banana", "cherry", "kiwi", "guava"]
fruit.append('watermelon') #add an item to the end
print(fruit)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'watermelon']

In [18]:
fruit[3] = 'papaya'
print(fruit)
fruit.insert(3, 'papaya') #add an item at a specific index
print(fruit)

['apple', 'banana', 'cherry', 'papaya', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'watermelon']
['apple', 'banana', 'cherry', 'papaya', 'papaya', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'watermelon']

In [19]:
fruit.remove('watermelon') # only removes the first occurance
fruit

['apple',
 'banana',
 'cherry',
 'papaya',
 'papaya',
 'guava',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'guava',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'guava']

In [20]:
print(fruit.index('papaya')) # prints the index position

3

In [21]:
fruits2 = fruit.pop() # removed and returned the last item
print(fruits2)
print(fruit)

guava
['apple', 'banana', 'cherry', 'papaya', 'papaya', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi']

In [22]:
print(fruit.index('banana')) # prints the index position of the item

1

In [23]:
fruit.insert(4, 'banana')
print(fruit.count('banana'))
print(fruit)

4
['apple', 'banana', 'cherry', 'papaya', 'banana', 'papaya', 'guava', 'apple', 'banana', 'cherry', 'kiwi', 'guava', 'apple', 'banana', 'cherry', 'kiwi']

In [24]:
print(fruit.sort()) #ascending order list

None

In [25]:
print(fruit.reverse())
print(fruit)

None
['papaya', 'papaya', 'kiwi', 'kiwi', 'guava', 'guava', 'cherry', 'cherry', 'cherry', 'banana', 'banana', 'banana', 'banana', 'apple', 'apple', 'apple']

In [26]:
fruit.clear()
print(fruit)

[]

# List Comprehension

Create a list based on a logic, rule, or any linear syntax

In [28]:
# create a list of squares of numbers from 1 - 6
lst = []
for i in range(0,6):
  lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25]

In [29]:
squares = [i**2 for i in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [35]:
# print square roots list using list comprehension

lst2 = []
for i in range(0,6):
  lst2.append(i**0.5)
print(lst2)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [36]:
import math

print(math.sqrt(144))

12.0

# Nested Lists

In [37]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
matrix[1][1] # double indexing

5

In [42]:
multable = [[i*j for j in range (1,6)] for i in range (1,6)]
print(multable)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]